.images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    overflow: hidden;
}
.images-container h2{
    text-transform: capitalize;
}
.images {
    margin: 2rem;
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    max-width: 1350px;
    margin: .5rem;
}
.images img {
    width: 100%;
    height: 100%;
    margin: .75rem;
}
