.header{
    padding-top: 2.5rem;
}
.header h1{
    margin: 0rem 0 2rem 0;
}
.built-by{
    position: absolute;
    top: 25px;
    right:2%;
    transform: rotate(45deg);
}
.built-by a{
    color:var(--clr-light);
    font-size: 1rem;
    background-color: var(--clr-btn1);
    text-decoration: none;
}