.App{
  text-align: center;
  position: relative;
}
/* .App *{
  border: 1px solid red;
} */
.top{
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.top i{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: var(--clr-btn1);
  border: none;
  box-shadow:none;
}
.top i:hover{
  background-color: var(--clr-btn2);
}