:root{
  --clr-body:#232323;
  
  --clr-btn1:#ece80bbd;
  --clr-btn2:#f3ef1acc;

  --clr-text:#eee;
  --clr-light:#fff;
  --clr-accent:#000;
}
html,body {
  margin: 0;
  scroll-behavior: smooth;

}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: var(--clr-body);
  color: var(--clr-text);
}
